/* panel.css */

.panel
{
    border: solid 4px rgb(70, 70, 70);
    border-radius: 8px;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
    z-index: 5000;
    overflow-y: scroll;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    color: rgb(0, 255, 255);
}

/*.panel input*/

.panel input[type = "text"],
.panel input[type = "number"]
{
    width: 100px;
    background-color: rgb(10, 10, 10);
    color: rgb(245, 245, 245);
    font-family: arial;
    font-size: 17px;
    font-weight: bold;
}

.panel input[type = "range"]
{
    width: 200px;
    cursor: pointer;
}

/* ---- */

/* Dedicated to God the Father */
/* All Rights Reserved Christopher Andrew Topalian Copyright 2000-2026 */
/* https://github.com/ChristopherTopalian */
/* https://github.com/ChristopherAndrewTopalian */
/* https://sites.google.com/view/CollegeOfScripting */

