/* panel.css */

.panel
{
    border: solid 4px rgb(70, 70, 70);
    border-radius: 8px;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
    z-index: 5000;
    overflow-y: scroll;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    color: rgb(0, 255, 255);
}

/*.panel input*/

.panel input[type = "text"],
.panel input[type = "number"]
{
    width: 100px;
    background-color: rgb(10, 10, 10);
    color: rgb(245, 245, 245);
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
}

.panel input[type = "range"]
{
    width: 200px;
    cursor: pointer;
}

/* slider track */
.panel input[type = "range"]::-webkit-slider-runnable-track {
    background: rgb(0, 50, 170);
    height: 8px;
    border-radius: 4px;
}

/* slider thumb */
.panel input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Removes default styling */
    height: 10px;
    width: 200px;
    background: #007bff;
    border-radius: 50%;
    margin-top: -5px; /* Centers the thumb on the track */
}

/* Target all scrollbars */
::-webkit-scrollbar {
    width: 10px; /* Width for vertical scrollbar, height for horizontal */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
    background: black; /* Black background for the track */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: aqua; /* Aqua color for the thumb */
    border-radius: 5px; /* Optional: Rounded corners for the thumb */
}

/* Optional: Style the thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00B7EB; /* A lighter shade of aqua on hover */
}

/* ---- */

/* Dedicated to God the Father */
/* All Rights Reserved Christopher Andrew Topalian Copyright 2000-2026 */
/* https://github.com/ChristopherTopalian */
/* https://github.com/ChristopherAndrewTopalian */
/* https://sites.google.com/view/CollegeOfScripting */

